/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* variables */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-900: hsl(0, 0%, 7%);

  --font-size-xl: 24px;
  --font-size-normal: 16px;
  --font-size-sm: 14px;
  --font-primary: "Figtree", sans-serif;
  --font-medium: 500;
  --font-extrabold: 800;
}

body {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

main {
  color: var(--gray-900);
  font-family: var(--font-primary);
  font-weight: var(--font-medium);
  font-size: var(--font-size-normal);
  display: flex;

  article {
    background-color: var(--white);
    border-radius: 1.5rem;
    border: 2px;
    border-style: outset;
    border-color: black;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0 0 black;
    width: 375px;
    gap: 1rem;

    > img:first-of-type {
      border-radius: 1rem;
      height: 235px;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }

    .tag {
      background-color: var(--yellow);
      padding-block: 0.3rem;
      padding-inline: 1rem;
      font-weight: var(--font-extrabold);
      font-size: var(--font-size-sm);
      border-radius: 0.3rem;
      width: fit-content;
    }

    time {
      font-size: var(--font-size-sm);
    }

    h2 {
      font-size: var(--font-size-xl);
      font-weight: var(--font-extrabold);
    }

    p {
      color: var(--gray-500);
    }

    address {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: var(--font-extrabold);
      font-style: normal;
      padding-top: 0.5rem;

      img {
        width: 40px;
      }
    }
  }
}

/* attribution */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
